body {
  background: #f4f4f4;
}
.ui.fluid.container {
  margin: 0 1vw !important;
  width: 98vw;
}
.ui {
  border-radius: 0 !important;
}
.seg1 .header,
.seg1 h5,
div,
.ui.header,
button.ui.button {
  text-transform: uppercase;
}
.ui.selection.dropdown {
  background: #d9d9d9;
}
ul,
li {
  margin: 0;
  padding: 0;
}
.ui.blocks li {
  display: inline-block;
}
.ui.block {
  height: 20px;
  width: 20px;
}
.ui.block.gained {
  background: #777;
}
.ui.block.lost {
  background: #ccc;
}
.aligned.right {
  float: right;
}
.aligned.left {
  float: left;
}
.segment.nmtr {
  padding: 0 !important;
}
.seg4.grid .column {
  background-clip: content-box;
  background: rgb(244, 244, 239);
  margin: 20px;
}

.nodeview .conatiner {
  width: 1200px;
  margin: 0 auto;
  padding: 130px 0;
}
.nodeview li:before {
}
span.dot {
  content: '';
  height: 15px;
  width: 15px;
  background: #fff;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -9px;
}
.nodeview .conatiner:after {
  content: '';
  clear: both;
  display: block;
}
.nodeview li {
  display: inline-block;
  width: calc(1200px/6);
  border-top: 3px dashed #ccc;
  margin-bottom: 150px;
  float: left;
  position: relative;
}
.rightol li {
  float: right;
}
.lefttor li:last-of-type {
  position: relative;
}
.lefttor li:last-of-type:after {
  content: '';
  border-right: 3px dashed #ccc;
  position: absolute;
  height: 150px;
  display: block;
  right: 0;
  top: 0;
}

.lefttor .rightol li:last-of-type:after {
  content: '';
  border-right: 0;
  border-left: 3px dashed #ccc;
  position: absolute;
  height: 1;
  display: block;
  left: 0;
  top: 0;
}
.contents div.ui.label {
  display: table;
}
.contents {
  position: absolute;
  top: 15px;
  left: -15px;
  z-index: 1;
}
.label {
  text-align: center;
  padding: 0 2px;
  display: block;
  width: 30px;
  border-radius: 3px;
  text-transform: capitalize;
  font-size: 11px;
  width: auto;
  margin-bottom: 2px;
}
.label.red {
  background: red;
  color: #fff;
}
.label.green {
  background: green;
  color: #fff;
}
li.reached {
  border-top: 3px solid #ff9835;
}
li.reached:last-of-type:after {
  border-right: 3px solid #ff9835;
}
.lefttor .rightol li.reached:last-of-type:after {
  border-left: 3px solid #ff9835;
}
.start.reached {
  border-top: 3px dashed #ccc;
}

li .fa {
  position: absolute;
  left: 45%;
  top: -30px;
}
